/*base*/
* {
    font-family: 'Raleway', sans-serif; /* Police demandée par Booki */
    box-sizing: border-box;
}

body {
    margin: 0;
    display: flex;
    justify-content: center;
}

.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
}

/*header*/
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    margin-top: 30px;
}

.logo {
    height: 19px;
}

.nav-links {
    display: flex;
    list-style-type: none;
}

.nav-links li {
    margin-left: 50px;
}

.nav-links a {
    text-decoration: none;
    color: black;
    padding-top: 30px;
    border-top: 2px solid transparent;
}

.nav-links a:hover {
    color: #0065FC;
    border-top: 2px solid #0065FC;
}

/*section recherhce*/
.search-and-filter {
    margin-top: 30px;
}

.headline h1 {
    margin-bottom: 8px;
    font-size: 22px;
}

.headline p {
    margin-top: 0;
    font-size: 16px;
}

/*formulaire*/
.search-form {
    display: inline-flex;
    border: 1px solid #F2F2F2;
    border-radius: 15px;
    overflow: hidden;
    height: 49px;
    margin-top: 20px;
}

.search-icon-container {
    background-color: #F2F2F2;
    padding: 0 18px;
    display: flex;
    align-items: center;
    font-size: 18px;
}

.search-input {
    border: none;
    padding: 0 24px;
    font-weight: bold;
    font-size: 18px;
    outline: none;
    width: 250px;
}

.search-button {
    background-color: #0065FC;
    color: white;
    border: none;
    padding: 0 16px;
    font-weight: bold;
    font-size: 18px;
    cursor: pointer;
    border-radius: 0 15px 15px 0; /*j'arrondie qu'a droite*/
}

/*masquer l'icône loupe sur desktop */
.search-icon-mobile {
    display: none;
}